.coverImg{
    background-size: cover;
    width: 100%;
    height: 550px;  
}
.pastaHeads{
    margin-top: -340px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 10%;
    width: 50%;
    height: 50;
}
.pastaHeading{                                                                                                                                                                           
    font-family:cookie,cursive;
    color:rgb(247, 0, 0);
    font-size: 35px;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
}
.pastafirstP{
    font-size: 60px;
    color: #000;
    line-height: 60px;
    font-weight: 700;
    font-style: normal;
    font-family: cookie;
}
.saladHeads{
    margin-top: -340px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 40%;
    width: 50%;
    height: 50;
}
.saladHeading{                                                                                                                                                                           
    font-family:cookie,cursive;
    color:rgb(247, 0, 0);
    font-size: 35px;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
}
.saladfirstP{
    font-size: 60px;
    color: rgb(252, 248, 5);
    line-height: 60px;
    font-weight: 700;
    font-style: normal;
    font-family: cookie;
}
.soupcoverImg{
    background-size: cover;
    width: 100%;
    height: 550px;  
}
.soupHeads{
    margin-top: -340px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 40%;
    width: 50%;
    height: 50;
}
.soupHeading{                                                                                                                                                                           
    font-family:cookie,cursive;
    color:rgb(247, 0, 0);
    font-size: 35px;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
}
.soupfirstP{
    font-size: 60px;
    color: rgb(255, 255, 255);
    line-height: 60px;
    font-weight: 700;
    font-style: normal;
    font-family: cookie;
}